In [1]:
import pandas as pd
import numpy as np

In [2]:
data_shakil = pd.read_excel('Assigned_Sentiment.xlsx')

In [3]:
data_shakil.head()

,Type,Customer comment/query,Sentiment,Tags,Real Sentiment,Shakil
0,message,৩০জিবি মেয়াদ ৩০দিন ৩০০টাকাই এই রকম অফার দেন,Neutral,NaN,neutral,Shakil
1,message,২০০ টাকা ধার দেন,Neutral,NaN,neutral,Shakil
2,comment,"পৃথিবীতে সব বাবাই যদি এমন হত "" সবার ভাগ‍্য ...",Neutral,Feedback,neutral,Shakil
3,comment,কাস্টমার কেয়ারে কথা বলতে চাই,Neutral,Customer Care - Hotline,neutral,Shakil
4,comment,রবির আয়োজনগুলো সবসময়ই বেস্ট। রবির পেজে ঢুকে অন...,Neutral,Feedback,positive,Shakil

In [4]:
data_shakil = data_shakil[data_shakil['Shakil']== 'Shakil']

In [5]:
data_shakil.head()

,Type,Customer comment/query,Sentiment,Tags,Real Sentiment,Shakil
0,message,৩০জিবি মেয়াদ ৩০দিন ৩০০টাকাই এই রকম অফার দেন,Neutral,NaN,neutral,Shakil
1,message,২০০ টাকা ধার দেন,Neutral,NaN,neutral,Shakil
2,comment,"পৃথিবীতে সব বাবাই যদি এমন হত "" সবার ভাগ‍্য ...",Neutral,Feedback,neutral,Shakil
3,comment,কাস্টমার কেয়ারে কথা বলতে চাই,Neutral,Customer Care - Hotline,neutral,Shakil
4,comment,রবির আয়োজনগুলো সবসময়ই বেস্ট। রবির পেজে ঢুকে অন...,Neutral,Feedback,positive,Shakil

In [6]:
data_shakil = data_shakil[['Customer comment/query','Real Sentiment' ]]

In [7]:
data_shakil

                                Customer comment/query Real Sentiment
0          ৩০জিবি মেয়াদ ৩০দিন ৩০০টাকাই এই রকম অফার দেন        neutral
1                                     ২০০ টাকা ধার দেন        neutral
2    পৃথিবীতে  সব বাবাই যদি এমন হত "   সবার ভাগ‍্য ...        neutral
3                         কাস্টমার কেয়ারে কথা বলতে চাই        neutral
4    রবির আয়োজনগুলো সবসময়ই বেস্ট। রবির পেজে ঢুকে অন...       positive
..                                                 ...            ...
394  10 সেকেন্ডের ভিডিও শেয়ারের উদ্যোক্তা আমার অনে...       positive
395  আশা করি তারা ভবিষ্যতে এরকম ভুল আর করবেনা আর তা...        neutral
396  Robi always onak valo valo offer dei..my robi ...       positive
397  রবির অফারগুলো অনেক ভালো লাগে। রবির মাধ্যমে এখন...       positive
398  রবি সবসময়  জন্য নতুন কিছু করে রিসেন্টলি রবি ন...       positive

[399 rows x 2 columns]